{% extends "base.html" %}

{% block title %}
    Удаление получателя
{% endblock %}

{% block description %}
    <h1>Удаление получателя</h1>
{% endblock %}

{% block base_element %}

<div class="card">
    <div class="card-body">

        <p>
            Вы действительно хотите удалить
            <strong>{{ object.full_name }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Да, удалить
            </button>

            <a href="{% url 'mailings:recipient_list' %}"
               class="btn btn-secondary">
                Отмена
            </a>
        </form>

    </div>
</div>

{% endblock %}